<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="two.css">
</head>
<body>
	<header>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus vero iste veritatis aliquam animi corporis saepe est, voluptatum a magnam, ut aspernatur! Sed nesciunt et quaerat harum. Alias, quam, id.
	</header>
	<aside class="sidebar">
		<ol>
			<li class="li">sidebar item</li>
			<li class="li">sidebar item</li>
			<li class="li">sidebar item</li>
			<li class="li">sidebar item</li>
			<li class="li">sidebar item</li>
		</ol>
	</aside>
	<section class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nisi fugiat veritatis praesentium, laboriosam perspiciatis dolorem, modi exercitationem accusantium. Rem itaque eaque deleniti maxime excepturi, soluta. Ad, voluptates vero eligendi.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nisi fugiat veritatis praesentium, laboriosam perspiciatis dolorem, modi exercitationem accusantium. Rem itaque eaque deleniti maxime excepturi, soluta. Ad, voluptates vero eligendi.</p>
	</section>
	<footer>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio provident fugit in velit similique, sed qui non! Veritatis quis, mollitia deleniti omnis! Delectus magni at amet, optio fugit aliquam quibusdam!
	</footer>
</body>
</html>